body, html{
    background-color: rgb(255, 0, 0);
}
/* Estilos del banner */
.banner {
    background-color: #06cc69;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 10em;
    color: #ffffff;
}

.banner p {
    font-size: 1.2em;
    color: #ffffff;
}

img {
    .logo
    width: 100px;
    height: 100px;
}

.accordion-container {
    display: flex;
    justify-content: center; /* Centra el acordeón horizontalmente */
    align-items: center;    /* Centra el acordeón verticalmente (si es necesario) */
    height: 100vh;          /* Si quieres centrarlo en la pantalla completa */
}

.accordion {
    width: 100px;   /* Ajusta el ancho del acordeón */
    font-size: 10px; /* Ajusta el tamaño de fuente para reducir el contenido */
}

.accordion .frame {
    padding: 10px;  /* Reduce el padding interno de cada frame */
}

.accordion .heading {
    font-size: 16px;  /* Ajusta el tamaño de la cabecera */
}
#pedagogia{
    width: 25%;
    height: 25%;
}
.container{
 color: blue;
}
