body, html{
    background-color: aqua;
}
/* Estilos del banner */
.banner {
    background-color: #06cc69;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 10em;
    color: #ffffff;
}

.banner p {
    font-size: 1.2em;
    color: #ffffff;
}

img {
    .logo
    width: 100px;
    height: 100px;
}