/* Estilos personalizados */
body {
  background-color: rgb(52, 90, 88);
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to right, #00b652, #00b652(113, 91%, 34%));
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.navbar-custom {
  background-color: #28a745;
}

 /* Estilo para el banner */
 .banner {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Espacio interno */
  font-size: 24px; /* Tamaño del texto */
  font-family: Arial, sans-serif; /* Fuente */
 }

 #A1{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  background-color:rgb(52, 90, 88);
  color: white;
  text-align: center;
 
  }

.accordion .heading {
    text-align: center;
    background-color: rgb(52, 90, 88);
}
#head{
  background-color: rgb(52, 90, 88);
  border:rgb(52, 90, 88);
}