
html,body {
  background-color: aqua;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to right, #00b652, #00b652(113, 91%, 34%));
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.navbar-custom {
  background-color: #28a745;
}

 /* Estilo para el banner */
 .banner {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Espacio interno */
  font-size: 24px; /* Tamaño del texto */
  font-family: Arial, sans-serif; /* Fuente */
 }

 #A1{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  background-color:rgba(2, 155, 155, 0.664);
  color: rgb(255, 255, 255);
  text-align: center;
 
  }

.accordion .heading {
    text-align: center;
    background-color: rgba(2, 155, 155, 0.664);
}
#head{
  background-color: rgba(2, 155, 155, 0.664);
  border:rgba(2, 155, 155, 0.664);}
  #lg{
    width:20%;
    height: 20%;
  }

  /* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

